<a href="https://colab.research.google.com/github/JoseLuisBarba/deepLearning/blob/main/bankNote.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

About the Data
Data were extracted from images that were taken for the evaluation of an authentication procedure for banknotes. Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object grey-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool was used to extract features from images.

To load the training data in your jupyter notebook, use the below command:

import pandas as pd

bank_note_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/training_set_label.csv" )
Data Description

VWTI: Variance of Wavelet Transformed Image

SWTI: Skewness of Wavelet Transformed Image

CWTI: Curtosis of Wavelet Transformed Image

EI: Entropy of Image

Class: Class (1: genuine, 0: forged)

Test Dataset Load the test data (name it as test_data). You can load the data using the below command.

test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/testing_set_label.csv')

Here the target column is deliberately not there as you need to predict it.

#**Librarys**

In [36]:
import pandas as pd
import tensorflow as tf #deep learning library
import numpy as np #we use it for matrix operations
import matplotlib.pyplot as plt #we use it for visualization
%matplotlib inline

In [37]:
from sklearn.model_selection import train_test_split

#**Load the data**

In [38]:
bank_note_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/training_set_label.csv" )

In [39]:
bank_note_data.head(10)

     VWTI     SWTI      CWTI        EI  Class
0  2.2634  -4.4862   3.65580 -0.612510      0
1  3.2718   1.7837   2.11610  0.613340      0
2 -3.9411 -12.8792  13.05970 -3.312500      1
3  0.5195  -3.2633   3.08950 -0.984900      0
4  2.5698  -4.4076   5.98560  0.078002      0
5 -3.7930 -12.7095  12.79570 -2.825000      1
6 -2.2987  -5.2270   5.63000  0.917220      1
7 -4.0786   2.9239   0.87026 -0.653890      1
8  2.4486  -6.3175   7.96320  0.206020      0
9  1.8993   7.6625   0.15394 -3.110800      0

In [40]:
bank_note_data.info() # We're handling numerical data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VWTI    1096 non-null   float64
 1   SWTI    1096 non-null   float64
 2   CWTI    1096 non-null   float64
 3   EI      1096 non-null   float64
 4   Class   1096 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 42.9 KB

In [41]:
bank_note_data.describe() #We must normalize the data afterwards

              VWTI         SWTI         CWTI           EI        Class
count  1096.000000  1096.000000  1096.000000  1096.000000  1096.000000
mean      0.448500     1.780643     1.493533    -1.157454     0.445255
std       2.852623     5.922621     4.375655     2.084983     0.497221
min      -7.036400   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.790850    -2.125200    -1.574975    -2.246975     0.000000
50%       0.540430     2.205850     0.671900    -0.569190     0.000000
75%       2.835350     6.793925     3.574450     0.399980     1.000000
max       6.563300    12.730200    17.927400     2.449500     1.000000

In [42]:
#separating features from targets
X = bank_note_data.drop('Class',axis=1)
y = bank_note_data['Class']

In [43]:
def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)

In [44]:
#We normalized the data
Xnormalized =  mean_norm(X)

In [45]:
Xnormalized

          VWTI      SWTI      CWTI        EI
0     0.636221 -1.058120  0.494159  0.261366
1     0.989721  0.000516  0.142280  0.849308
2    -1.538794 -2.475229  2.643300 -1.033604
3     0.024889 -0.851640  0.364738  0.082760
4     0.743631 -1.044849  1.026605  0.592549
...        ...       ...       ...       ...
1091  0.417896  0.298543 -0.022198  0.380441
1092 -0.174053 -0.571427  1.595662  0.917530
1093  0.874143  0.950501 -0.564629  0.131125
1094  0.531511  0.870840 -0.209412  0.873496
1095 -0.201478  1.442091 -1.189681 -2.379418

[1096 rows x 4 columns]

#**Split the data**

In [46]:
Xtrain,Xtest,yTrain,yTest = train_test_split(Xnormalized,y,test_size=0.2,random_state=100)

In [47]:
print(f'- {Xtrain.shape} is the shape of X train.')
print(f'- {Xtest.shape} is the shape of X test.')
print(f'- {yTrain.shape} is the number of targets of y train.')
print(f'- {yTest.shape} is the number of targets of y test.')

- (876, 4) is the shape of X train.
- (220, 4) is the shape of X test.
- (876,) is the number of targets of y train.
- (220,) is the number of targets of y test.

In [48]:
print(Xtrain,yTrain)

         VWTI      SWTI      CWTI        EI
686 -1.890611  0.256619 -0.098393 -0.137433
417 -0.968477  0.051186 -0.448313 -0.249041
568 -0.643969  1.810340 -0.183367 -3.065371
163  1.611394  0.357233 -0.668227  0.969007
970 -0.772412 -0.314279 -0.514500  0.377343
..        ...       ...       ...       ...
802  1.182350 -0.261522  0.118786  1.541429
53  -1.608835  0.283870 -0.450662 -1.309577
350 -1.258772 -2.501788  3.241519  0.237797
79   0.043784  1.251668 -0.549160 -0.342711
792 -0.927708 -0.659479  0.050636  0.771787

[876 rows x 4 columns] 686    1
417    1
568    0
163    0
970    1
      ..
802    0
53     1
350    1
79     0
792    1
Name: Class, Length: 876, dtype: int64

#**Bulding ANN model**

In [53]:
class ANNbankNote:
  def __init__(self,ANNname,inputs,hiddenLayers,neurons,neuronsThrehold='relu',outThreshold='sigmoid') -> None:
     self.inputs = inputs
     self.hiddenLayers = hiddenLayers
     self.neurons = neurons
     self.ANNname = ANNname
     self.model = tf.keras.Sequential(
          [ tf.keras.layers.Dense(neurons, input_shape=(inputs,), activation= neuronsThrehold),] 
        + [ tf.keras.layers.Dense(neurons, input_shape=(neurons,), activation= neuronsThrehold) for layer in range(0,hiddenLayers)]
        + [ tf.keras.layers.Dense(1, input_shape=(neurons,), activation= outThreshold),], name= ANNname
      )
  def addOptimizer(self,algOptimizer,jLoss,listMetrics):
      self.model.compile(optimizer=algOptimizer,loss=jLoss,metrics=listMetrics)
  def fit(self,Xtrain,yTrain,batchSize,iterations):
      self.model.fit(Xtrain, yTrain, batch_size= batchSize,epochs=iterations)
  def evaluate(self,Xtest,yTest):
      self.model.evaluate(Xtest,yTest)
  def save(self,name):
      save_dir = "/results/"
      name = f'{name}.h5'
      self.model.save(name)
      model_path = save_dir + name
      print('Saved trained model at %s ' % model_path)

#**building Sample example**

In [64]:
ann1 = ANNbankNote('ann1',4,2,100,neuronsThrehold='relu',outThreshold='sigmoid')
ann1.addOptimizer(tf.keras.optimizers.Adamax(learning_rate=0.01),tf.keras.losses.BinaryCrossentropy(from_logits=False),['accuracy',])

In [66]:
ann1.fit(Xtrain,yTrain,100,5)

Epoch 1/5
9/9 [==============================] - 0s 3ms/step - loss: 0.0153 - accuracy: 0.9943
Epoch 2/5
9/9 [==============================] - 0s 3ms/step - loss: 0.0060 - accuracy: 0.9977
Epoch 3/5
9/9 [==============================] - 0s 2ms/step - loss: 0.0026 - accuracy: 0.9989
Epoch 4/5
9/9 [==============================] - 0s 3ms/step - loss: 0.0013 - accuracy: 1.0000
Epoch 5/5
9/9 [==============================] - 0s 3ms/step - loss: 8.2276e-04 - accuracy: 1.0000

In [67]:
ann1.evaluate(Xtest,yTest)

7/7 [==============================] - 0s 2ms/step - loss: 8.4605e-04 - accuracy: 1.0000

In [73]:
Xtest.head()

         VWTI      SWTI      CWTI        EI
146 -0.598081 -0.032324  1.260215  0.758761
927  0.300215 -0.326858  1.142130  0.193763
157 -0.468264  0.173463 -1.059666 -0.022085
654  0.645301  0.329644 -0.197075  0.364316
648  0.081458  0.092063  0.780447  0.818920

In [88]:

yPredict = ann1.model.predict(Xtest)
yReal = yTest 
for i,j in zip(yPredict,yReal):
  print(f'is {np.round(i)} equals to {j}?')

7/7 [==============================] - 0s 2ms/step
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?
is [0.] equals to 0?
is [1.] equals to 1?
is [1.] equals to 1?

In [80]:
Xtest.iloc[0]

VWTI   -0.598081
SWTI   -0.032324
CWTI    1.260215
EI      0.758761
Name: 146, dtype: float64